import: cabal.project
with-compiler: ghc-9.8.1
active-repositories: hackage.haskell.org:merge
index-state: hackage.haskell.org 2023-12-27T14:48:44Z
constraints: 
             ansi-terminal -example,
             ansi-terminal ==1.0,
             ansi-terminal-types ==0.11.5,
             array installed,
             assoc +tagged,
             assoc ==1.1,
             base installed,
             base-orphans ==0.9.1,
             binary installed,
             boring +tagged,
             boring ==0.2.1,
             bytestring installed,
             call-stack ==0.4.0,
             case-insensitive ==1.2.1.0,
             colour ==2.3.6,
             constraints ==0.14,
             containers installed,
             data-fix ==0.3.2,
             deepseq installed,
             directory installed,
             dlist -werror,
             dlist ==1.0,
             equational-reasoning ==0.7.0.2,
             exceptions installed,
             filepath installed,
             ghc installed,
             ghc-bignum installed,
             ghc-boot ==9.8.1,
             ghc-boot-th ==9.8.1,
             ghc-heap ==9.8.1,
             ghc-prim installed,
             ghc-tcplugins-extra -deverror,
             ghc-tcplugins-extra ==0.4.5,
             ghc-typelits-knownnat -deverror,
             ghc-typelits-knownnat ==0.7.10,
             ghc-typelits-natnormalise -deverror,
             ghc-typelits-natnormalise ==0.7.9,
             ghc-typelits-presburger -examples,
             ghc-typelits-presburger ==0.7.3.0,
             ghci ==9.8.1,
             Glob ==0.10.2,
             hashable +integer-gmp -random-initial-seed,
             hashable ==1.4.3.0,
             hpc installed,
             hsc2hs -in-ghc-tree,
             hsc2hs ==0.68.10,
             integer-logarithms -check-bounds +integer-gmp,
             integer-logarithms ==1.0.3.1,
             mtl installed,
             old-locale ==1.0.0.7,
             old-time ==1.1.0.4,
             OneTuple ==0.4.1.1,
             optparse-applicative +process,
             optparse-applicative ==0.18.1.0,
             ordered-containers ==0.2.3,
             pretty installed,
             prettyprinter -buildreadme +text,
             prettyprinter ==1.7.1,
             prettyprinter-ansi-terminal ==1.1.3,
             primitive ==0.9.0.0,
             process installed,
             QuickCheck -old-random +templatehaskell,
             QuickCheck ==2.14.3,
             quickcheck-instances -bytestring-builder,
             quickcheck-instances ==0.3.30,
             random ==1.2.1.1,
             reflection -slow +template-haskell,
             reflection ==2.1.7,
             rts ==1.0.2,
             safe ==0.3.19,
             scientific -bytestring-builder -integer-simple,
             scientific ==0.3.7.0,
             semaphore-compat ==1.0.0,
             splitmix -optimised-mixer,
             splitmix ==0.1.0.5,
             stm installed,
             strict ==0.5,
             syb ==0.7.2.4,
             tagged +deepseq +transformers,
             tagged ==0.8.8,
             tasty +unix,
             tasty ==1.5,
             tasty-discover ==5.0.0,
             tasty-hunit ==0.10.1,
             tasty-quickcheck ==0.10.3,
             template-haskell installed,
             terminfo installed,
             text installed,
             text-short -asserts,
             text-short ==0.1.5,
             th-abstraction ==0.6.0.0,
             th-compat ==0.1.4,
             th-desugar ==1.16,
             th-expand-syns ==0.4.11.0,
             th-lift ==0.8.4,
             th-orphans ==0.13.14,
             th-reify-many ==0.1.10,
             these ==1.2,
             time installed,
             time-compat -old-locale,
             time-compat ==1.9.6.1,
             transformers installed,
             transformers-compat -five +five-three -four +generic-deriving +mtl -three -two,
             transformers-compat ==0.7.2,
             type-equality ==1,
             unix installed,
             unordered-containers -debug,
             unordered-containers ==0.2.19.1,
             uuid-types ==1.0.5.1,
             vector +boundschecks -internalchecks -unsafechecks -wall,
             vector ==0.13.1.0,
             vector-stream ==0.1.0.0,
             void -safe,
             void ==0.7.3,
